# Pandas Essential Training

## Using pandas

In [3]:
!pip install pandas==2.2.2

Collecting pandas==2.2.2
  Downloading pandas-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas==2.2.2) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.17.0)
Downloading pandas-2.2.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.0/13.0 MB 59.4 MB/s eta 0:00:00
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 2.0.2
    Uninstalling pandas-2.0.2:
      Successfully uninstalled pandas-2.0.2
Successfully installed pandas-2.2.2

In [4]:
import pandas

In [5]:
import pandas as pd

In [6]:
pd.__version__

'2.2.2'

In [7]:
dir(pd)

['ArrowDtype',
 'BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_built_with_meson',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_pandas_datetime_CAPI',
 '_pandas_parser_CAPI',
 '_testing',
 '_typing',
 '_version_meson',
 'annotations',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'from_dummies',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

In [ ]:
help(pd.read_csv)

In [ ]:
pd.read_csv?

Pandas documentation: https://pandas.pydata.org/docs/reference/index.html

## Reading tabular data into pandas

In [8]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

--2025-02-11 13:25:03--  https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_1896_2004.csv [following]
--2025-02-11 13:25:03--  https://raw.githubusercontent.com/jonfernandes/pandas_essential/main/olympics_1896_2004.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2398388 (2.3M) [text/plain]
Saving to: ‘olympics_1896_2004.csv’

olympics_1896_2004. 100%[===================>]   2.29M  --.-KB/s    in 0.01s

2025-02-11 13:25:04 (189 MB/s) - ‘olympics_1896_2004.csv’ saved [2398388/2398388]

In [ ]:
#from google.colab import files
#files.upload()

In [1]:
!ls -la

total 16
drwxr-xr-x 1 root root 4096 Feb  7 14:20 .
drwxr-xr-x 1 root root 4096 Feb 11 13:20 ..
drwxr-xr-x 4 root root 4096 Feb  7 14:19 .config
drwxr-xr-x 1 root root 4096 Feb  7 14:20 sample_data

In [ ]:
pd.read_csv?

In [9]:
pd.read_csv('olympics_1896_2004.csv')

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [10]:
pd.read_csv(filepath_or_buffer='olympics_1896_2004.csv')

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [43]:
oo = pd.read_csv('olympics_1896_2004.csv')
oo

,"This is a list of medallists at the Summer Olympic Games (1896-2004) with details of the year of the olympics, city, sport, discipline, athlete name, gender, event and medal",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"DISCLAIMER: No guarantees, express or implied,...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
...,...,...,...,...,...,...,...,...,...,...,...
27174,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27175,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27176,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27177,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27178,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [ ]:
oo = pd.read_csv('olympics_1896_2004.csv', skiprows=5)
oo

In [ ]:
filename = "olympics_1896_2004.csv"

In [ ]:
#from google.colab import files
#files.upload()

## Get an overview of the data and displaying it

In [13]:
!pip install --quiet pandas==2.2.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

Installed all of the necessary files for this section ...

In [14]:
oo = pd.read_csv(filename, skiprows=5)
oo

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
...,...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,W,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,W,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,W,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,W,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,W,Silver,2

In [16]:
oo.shape

(27174, 11)

In [17]:
oo.shape?

In [19]:
oo.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1

In [ ]:
oo.head?

In [ ]:
oo.head(3)

In [ ]:
oo.tail()

In [ ]:
oo.sample(5)

In [ ]:
oo.sample?

In [20]:
oo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27174 entries, 0 to 27173
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          27174 non-null  int64
 1   City          27174 non-null  object
 2   Sport         27174 non-null  object
 3   Discipline    27174 non-null  object
 4   Athlete Name  27174 non-null  object
 5   NOC           27174 non-null  object
 6   Gender        27174 non-null  object
 7   Event         27174 non-null  object
 8   Event Gender  27174 non-null  object
 9   Medal         27174 non-null  object
 10  Position      27174 non-null  int64
dtypes: int64(2), object(9)
memory usage: 2.3+ MB

In [21]:
oo.describe()

               Year      Position
count  27174.000000  27174.000000
mean    1964.685803      1.992566
std       31.590396      0.817469
min     1896.000000      1.000000
25%     1936.000000      1.000000
50%     1972.000000      2.000000
75%     1992.000000      3.000000
max     2004.000000      3.000000

In [22]:
pd.get_option("display.max_rows")

60

In [ ]:
pd.set_option("display.max_rows", None)
oo

In [ ]:
pd.set_option("display.max_rows", 60)
oo

In [ ]:
pd.get_option("display.max_columns")

In [ ]:
pd.get_option("display.width")

In [ ]:
pd.set_option("display.width", 100)

## Select a Series (column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [45]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
13126,1972,Munich,Weightlifting,Weightlifting,"BETTEMBOURG, Hans",SWE,Men,"82.5 - 90kg, total (middle-heavyweight)",M,Bronze,3
8838,1952,Helsinki,Sailing,Sailing,"FIUZA, Joaquim Mascarenhas De M.",POR,Men,two-person keelboat open (Star),X,Bronze,3
14772,1976,Montreal,Handball,Handball,"BADOREK, Gabriele",GDR,Women,handball,W,Silver,2

In [23]:
type(oo)

pandas.core.frame.DataFrame

In [ ]:
oo["Discipline"]

In [ ]:
oo['Discipline']

In [ ]:
#oo["discipline"]

In [24]:
type(oo["Discipline"])

pandas.core.series.Series

In [ ]:
oo.Discipline

In [ ]:
oo.columns

In [ ]:
oo["Athlete Name"]

In [ ]:
#oo.Athlete Name

In [ ]:
oo.sample(3)

In [ ]:
oo.Year.unique()

In [25]:
oo.Year.unique?

In [ ]:
oo.Sport.unique()

In [ ]:
oo.sample(3)

In [26]:
oo.Year.value_counts()

Year
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1956     885
1912     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: count, dtype: int64

In [ ]:
oo.Year.value_counts?

In [30]:
oo.Year.value_counts(normalize=True)

Year
2000    0.074152
2004    0.073526
1996    0.068411
1992    0.062744
1988    0.056893
1984    0.053691
1980    0.051041
1976    0.048024
1920    0.047766
1972    0.043608
1968    0.037941
1964    0.037168
1952    0.032715
1956    0.032568
1912    0.032568
1924    0.032531
1960    0.032457
1936    0.032200
1948    0.029955
1908    0.029587
1928    0.026128
1932    0.022632
1900    0.018842
1904    0.017296
1896    0.005557
Name: proportion, dtype: float64

## Challenge

Answer the following questions. Indicate the Pandas command where relevant.

1.   What is the time range covered in this dataset?
2.   The Olympics take place every 4 years. Why are there missing years?
3.   What are the types of medals awarded?
4.   Across all of the Olympic Games, how many Gold, Silver and Bronze medals have there been?
5.   Why are there not an equal number of Gold, Silver and Bronze medals?
6.   There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?
7.   What are the different NOCs (National Olympic Committees)
8.   What does the NOC 'ZZX' represent?

In [39]:
#1 What is the time range covered in this dataset?
print(oo.Year.min(), oo.Year.max())

1896 2004

In [ ]:
#2 The Olympics take place every 4 years. Why are there missing years?

In [41]:
#3 What are the types of medals awarded?
oo.Medal.unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

In [42]:
#4 Across all of the Olympic Games, how many Gold, Silver and Bronze medals have there been?
oo.Medal.value_counts()

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64

In [47]:
oo.NOC.unique()

array(['FRA', 'GRE', 'USA', 'HUN', 'GER', 'AUT', 'GBR', 'AUS', 'DEN',
       'ZZX', 'SUI', 'IND', 'NED', 'CAN', 'NOR', 'BEL', 'ESP', 'BOH',
       'ITA', 'SWE', 'CUB', 'RU1', 'FIN', 'RSA', 'ANZ', 'LUX', 'EST',
       'BRA', 'JPN', 'TCH', 'NZL', 'ARG', 'HAI', 'POL', 'URU', 'YUG',
       'ROU', 'POR', 'EGY', 'PHI', 'IRL', 'CHI', 'MEX', 'LAT', 'TUR',
       'KOR', 'PAN', 'JAM', 'SRI', 'PER', 'PUR', 'IRI', 'TRI', 'URS',
       'LIB', 'BUL', 'VEN', 'EUA', 'PAK', 'ISL', 'BAH', 'BWI', 'GHA',
       'IRQ', 'SIN', 'TPE', 'ETH', 'MAR', 'TUN', 'NGR', 'KEN', 'FRG',
       'MGL', 'GDR', 'UGA', 'CMR', 'PRK', 'COL', 'NIG', 'BER', 'THA',
       'TAN', 'GUY', 'ZIM', 'ZAM', 'CHN', 'CIV', 'DOM', 'ALG', 'SYR',
       'SUR', 'CRC', 'SEN', 'AHO', 'DJI', 'ISV', 'INA', 'EUN', 'NAM',
       'IOP', 'QAT', 'ISR', 'LTU', 'CRO', 'SLO', 'MAS', 'RUS', 'UKR',
       'TGA', 'ARM', 'BLR', 'MDA', 'ECU', 'KAZ', 'AZE', 'BDI', 'SVK',
       'CZE', 'UZB', 'GEO', 'MOZ', 'HKG', 'KGZ', 'BAR', 'KSA', 'VIE',
       'MKD', 'KUW', 'ERI', 'SCG', 'UAE', 'PAR'], dtype=object)

##Solution

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

1. What is the time range covered in this dataset?

In [56]:
oo.Year.drop_duplicates

<bound method Series.drop_duplicates of 0        1896
1        1896
2        1896
3        1896
4        1896
         ...
27169    2004
27170    2004
27171    2004
27172    2004
27173    2004
Name: Year, Length: 27174, dtype: int64>

In [50]:
oo.Year.unique()

SyntaxError: invalid syntax (<ipython-input-50-8efa4a19a89a>, line 1)

2. The Olympics take place every 4 years. Why are there missing years?
- World War 1: 1914-1918
- World War 2: 1939-1945

3. What are the types of medals awarded?

In [ ]:
oo.Medal.unique()

4. Across all of the Olympics, how many Gold, Silver and Bronze medals have there been?

In [ ]:
oo.Medal.value_counts()

5. Why are there not an equal number of Gold, Silver and Bronze medals?
- Tied results
- Team events
- Disqualifications

In [49]:
oo.head(10)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,M,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,M,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,M,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold,1
5,1896,Athens,Athletics,Athletics,"HOFMANN, Fritz",GER,Men,100m,M,Silver,2
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold,1
7,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver,2
8,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze,3
9,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold,1

6. There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?

Men's 100km cycling
- https://en.wikipedia.org/wiki/Cycling_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_kilometres
- https://en.wikipedia.org/wiki/Aristidis_Konstantinidis

Men's 100m freestyle (1896)
- https://en.wikipedia.org/wiki/Swimming_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_metre_freestyle

7. What are the different NOCs (National Olympic Committees)

In [ ]:
oo.NOC.unique()

8. What does the NOC 'ZZX' represent?
- https://en.wikipedia.org/wiki/Mixed_teams_at_the_Olympics

## Python Lists and Dictionaries

In [ ]:
medals = ["Gold", "Silver", "Bronze"]
medals

In [ ]:
type(medals)

In [ ]:
position = {"First": "Gold",
            "Second": "Silver",
            "Third": "Bronze"
}
position

In [ ]:
type(position)

In [ ]:
position["First"]

## Rename a series (or column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
mapper = {"Athlete Name": "Athlete_Name",
          "Event Gender": "Event_Gender"}

In [ ]:
oo.rename?

In [ ]:
oo.rename(columns=mapper)

In [ ]:
oo.sample(3)

In [ ]:
oo = oo.rename(columns=mapper)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5).rename(columns=mapper)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.rename(columns={"Athlete Name": "Athlete_Name", "Event Gender": "Event_Gender"})
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.columns

In [ ]:
column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal', 'Position']
oo.columns = column_names
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5, names=column_names)
oo.head()

In [ ]:
oo = pd.read_csv(filename, skiprows=5, names=column_names, header=0)
oo.head()

## Remove a Series (column) or row

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
oo.drop('Position', axis=1)

In [ ]:
#oo.drop('Position', axis=0)

In [ ]:
oo.sample(3)

In [ ]:
oo = oo.drop('Position', axis=1)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5).drop('Position', axis=1)
oo.sample(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.drop('Position', axis=1, inplace=True)
oo.sample(3)

In [ ]:
#oo = (pd.read_csv(filename, skiprows=5)
#      .drop('Position', axis=1, inplace=True)
#)
#oo.sample(3)

In [ ]:
oo.drop?

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop(2, axis=0)
)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop([0, 1, 3], axis=0)
)
oo.head(3)

In [ ]:
oo = oo.drop(['City', 'Sport'], axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
pd.merge?

In [ ]:
pd.concat?

In [ ]:
oo.groupby?

## Filtering rows for a single condition

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
oo.Year.dtype

In [ ]:
first_olympics = (oo.Year == 1896)
first_olympics

In [ ]:
oo[first_olympics]

In [ ]:
oo[oo.Year == 1896]

In [ ]:
oo[oo.Year < 1896]

In [ ]:
oo[(oo.Year <= 1896)]

## Filter rows for multiple conditions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.tail(3)

In [ ]:
oo.dtypes

In [ ]:
oo[oo.City == 'Athens']

In [ ]:
#oo[oo.City == Athens]

In [ ]:
oo[(oo.Year == 1896) | (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & ~(oo.Year == 1896)]

In [ ]:
first_men_100m = oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')]
first_men_100m

In [ ]:
oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')][["Year", "Athlete Name", "NOC", "Event", "Medal"]]

In [ ]:
first_men_100m[["Year", "Athlete Name", "NOC", "Event", "Medal"]]

## Using String methods

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [ ]:
oo["Athlete Name"].str.lower()

In [ ]:
oo.Event.unique()

In [ ]:
oo.Event.str.capitalize()

In [ ]:
oo.Event = oo.Event.str.capitalize()
oo.Event.unique()

In [ ]:
dir(oo.Event.str)

In [ ]:
oo["Athlete Name"].str.contains("Latynina")

In [ ]:
# Larisa Latynina - most decorated Female athlete
oo[oo["Athlete Name"].str.contains("Latynina")]

In [ ]:
oo[oo["Athlete Name"].str.contains("LATYNINA")]

In [ ]:
dir(oo.Event.str)

In [ ]:
oo.City = oo.City.str.upper()
oo.sample(3)

In [ ]:
oo.City.unique()

## Sorting a DataFrame or Series

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo["Athlete Name"].sort_values()

In [ ]:
type(oo["Athlete Name"].sort_values())

In [ ]:
oo.sort_values("Athlete Name")

In [ ]:
type(oo.sort_values("Athlete Name"))

In [ ]:
oo.head(3)

In [ ]:
oo.sort_values("Athlete Name", ascending=False)

In [ ]:
oo.sort_values("Athlete Name", ascending=False).head(25)

In [ ]:
oo.sort_values(by=['Year','Athlete Name'])

In [ ]:
oo.sort_values(by=["Year", "Athlete Name"], ascending=[False, True])

In [ ]:
oo.head(7)

In [ ]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

In [ ]:
oo.dtypes

## Working with data types (dtype)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo.Medal.unique()

In [ ]:
oo.Medal = oo.Medal.astype("category")
oo.dtypes

In [ ]:
oo.Gender.unique()

In [ ]:
oo['Event Gender'].unique()

In [ ]:
oo.Gender = oo.Gender.astype("category")
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

In [ ]:
oo.Medal.astype("category")

In [ ]:
pd.Categorical?

In [ ]:
medal_order = ["Bronze", "Silver", "Gold"]
pd.Categorical(oo.Medal, categories=medal_order, ordered=True)

In [ ]:
oo.Medal = pd.Categorical(oo.Medal, categories=medal_order, ordered=True)
oo.dtypes

In [ ]:
oo.Medal

In [ ]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

## Memory usage of different dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
df = pd.read_csv(filename, skiprows=5)
df.dtypes

In [ ]:
oo.dtypes

In [ ]:
oo.Medal.memory_usage?

In [ ]:
print(f"Medal series memory usage using dtype category: {oo.Medal.memory_usage(deep=True)}")
print(f"Medal series memory usage using dtype object: {df.Medal.memory_usage(deep=True)}")

In [ ]:
oo.Medal.memory_usage(deep=True) / df.Medal.memory_usage(deep=True)

In [ ]:
print(f"Gender series memory usage using dtype category: {oo.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype category: {oo['Event Gender'].memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df['Event Gender'].memory_usage(deep=True)}")

In [ ]:
oo.City.astype("string")

In [ ]:
oo.sample(2)

In [ ]:
oo.dtypes

In [ ]:
oo.City = oo.City.astype("string")
oo.Sport = oo.Sport.astype("string")
oo.Discipline = oo.Discipline.astype("string")
oo["Athlete Name"] = oo["Athlete Name"].astype("string")
oo.NOC = oo.NOC.astype("string")
oo.Event = oo.Event.astype("string")
oo.dtypes

In [ ]:
oo.City.dtype

In [ ]:
df.City.dtype

In [ ]:
print(f"City series memory usage using dtype string: {oo.City.memory_usage(deep=True)}")
print(f"City series memory usage using dtype object: {df.City.memory_usage(deep=True)}")

## Defining dtypes when you read in a file

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": "category"}

dtype_mapper

In [ ]:
pd.api.types.CategoricalDtype?

In [ ]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
ordered_medals

In [ ]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

In [ ]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo["Event Gender"].unique()

In [ ]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

## Python Functions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def show_df(filename="olympics_1896_2004.csv"):
  """Read in csv file and display DataFrame"""
  df = pd.read_csv(filename, skiprows=5)
  return df

show_df()

In [ ]:
type(show_df())

In [ ]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

In [ ]:
oo = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )

  return df

preprocess()

In [ ]:
preprocess()

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo["Event Gender"].unique()

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

## Working with Indexes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
pd.read_csv(filename, skiprows=5, header=None).head()

In [ ]:
oo = preprocess()
oo.head(5)

In [ ]:
oo[oo['Athlete Name'].str.contains("LEWIS, Carl")]

In [ ]:
oo.loc[22719, "Event"]

In [ ]:
oo = oo.set_index("Athlete Name")
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.loc["LEWIS, Carl", "Event"]

In [ ]:
oo.head(3)

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
oo.head(3)

In [ ]:
oo.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

In [ ]:
oo.loc["LEWIS, Carl", :]

In [ ]:
oo.loc["LEWIS, Carl"]

In [ ]:
oo = oo.sort_index()
oo.head(3)

In [ ]:
oo = oo.reset_index()
oo.head(3)

In [ ]:
oo.iloc[0, 0]

In [ ]:
oo.iloc[0, 5]

In [ ]:
oo.iloc[0, :]

In [ ]:
oo.iloc[0]

## Being Productive in pandas - My Best Practices

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

**Get immediate feedback**

In [ ]:
oo = preprocess()

In [ ]:
oo.sample(3)

In [ ]:
oo = preprocess()
oo.sample(3)

**Understand the basics of Python**

In [ ]:
dir(pd)

In [ ]:
[func.upper() for func in dir(pd)]

**Searching for method names**

In [ ]:
import re
import pandas as pd

search_string = "excel"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.read_excel?

In [ ]:
[func
 for func in dir(pd)
 if re.search(rf"{search_string}", func, re.IGNORECASE)]

**Documentation while staying in the IDE**

In [ ]:
pd.read_excel?

**head() vs. sample()**

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

**Functions to preprocess data. Modify the data, not the original files**

In [ ]:
def preprocess(filename):
  """Transform the data. Change the dataframe and not the original csv files"""
  ...

preprocess(filename)

**Using python assert**

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)
print("All tests passed")

In [ ]:
#assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == (0, 10))
#print("All tests passed")

**Chaining and splitting over several rows. No inplace=True**

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.drop('Position', axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [ ]:
last3 = pd.read_csv(filename, skiprows=5).sort_values(['Year', 'Athlete Name']).tail(3)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
#        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

**isin()**

In [ ]:
oo.Year.isin?

In [ ]:
years_of_interest = [1972, 1980, 1984, 1992, 2000, 2004]

In [ ]:
oo[oo.Year.isin(years_of_interest)]

In [ ]:
oo[~oo.Year.isin(years_of_interest)]

**Finding and dealing with missing values**

In [ ]:
oo.info()

## Creating Series and DataFrames

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]

In [ ]:
pd.Series(city)

In [ ]:
pd.DataFrame({"City": pd.Series(city),
              "Start Date": pd.Series(start_date)})

In [ ]:
pd.DataFrame({"City": city,
              "Start Date": start_date})

In [ ]:
pd.DataFrame(zip(city, start_date))

In [ ]:
pd.DataFrame(zip(city, start_date), columns=["City", "Start Date"])

## Working with dates

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["07-27-2012", "5th Aug, 2016", "23rd Jul, 2021"]
end_date = ["12th Aug, 2012", "21-08-2016", "8th Aug, 2021"]

In [ ]:
games = pd.DataFrame(zip(city, start_date, end_date), columns=["City", "Start Date", "End Date"])
games

In [ ]:
games.dtypes

In [ ]:
import re
import pandas as pd

search_string = "date"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.to_datetime?

In [ ]:
#pd.to_datetime(games["Start Date"])

In [ ]:
pd.to_datetime(games["Start Date"], format='mixed')

In [ ]:
games["Start Date"] = pd.to_datetime(games["Start Date"], format='mixed')
games["End Date"] = pd.to_datetime(games["End Date"], format='mixed')
games["City"] = games.City.astype("string")
games

In [ ]:
games.dtypes

In [ ]:
games["End Date"]

In [ ]:
games["Start Date"]

In [ ]:
games["End Date"] - games["Start Date"]

In [ ]:
games = games.assign(duration=games["End Date"] - games["Start Date"])
games

In [ ]:
games.dtypes

## Combining DataFrames

In [ ]:
import pandas as pd

In [ ]:
start = pd.DataFrame({"city": ["London", "Rio", "Tokyo"],
                      "start_date": ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]})
start

In [ ]:
end = pd.DataFrame({"City": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat?

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
end = pd.DataFrame({"city": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
pd.concat([start, end], axis=1)

**Inner join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge?

In [ ]:
pd.merge(left=start, right=end, on="city", how="inner")

**Outer join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="outer")

**Left join**

In [ ]:
start

In [ ]:
pd.merge(left=start, right=end, on="city", how="left")

**Right join**

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="right")

## Combining Datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

preprocess()

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

In [ ]:
new_filename =  "olympics_2008.csv"
nw = pd.read_csv(new_filename)
nw.head(5)

In [ ]:
oo.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.columns

In [ ]:
oo.columns

In [ ]:
nw.columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']
nw.columns

In [ ]:
new_columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']

In [ ]:
nw = pd.read_csv(new_filename, names=new_columns)
nw.columns

In [ ]:
nw.columns = [column.capitalize() for column in nw.columns]
nw.columns

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
oo.columns

In [ ]:
nw.columns

In [ ]:
nw.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.Result.unique()

In [ ]:
nw = nw.drop("Result", axis=1)
nw.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
pd.concat([oo, nw], axis=0).dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  return df

nw = preprocess_2008()
nw.sample(3)

## Working with Missing Data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.info()

In [ ]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

In [ ]:
nw.City.isna?

In [ ]:
nw.City.isna()

In [ ]:
nw.City.isna().sum()

In [ ]:
nw[nw.City.isna()]

In [ ]:
nw.City.unique()

In [ ]:
nw.shape

In [ ]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

In [ ]:
nw.City.fillna?

In [ ]:
nw.City = nw.City.fillna(value="Beijing")
nw.City.unique()

In [ ]:
nw.Year

In [ ]:
nw.Year.unique()

In [ ]:
nw.Year = nw.Year.fillna(value=2008)
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Removing Missing Data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.info()

In [ ]:
nw[nw.Sport.isna()]

In [ ]:
nw.dropna(how="all", axis=0)

In [ ]:
nw.dropna(how="any", axis=0)

In [ ]:
nw[nw.Sport.isna()]

In [ ]:
nw.dropna?

In [ ]:
nw.columns

In [ ]:
nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")

In [ ]:
nw = nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

##Working with Duplicates

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.shape

In [ ]:
nw.duplicated?

In [ ]:
nw.duplicated()

In [ ]:
nw.duplicated().sum()

In [ ]:
nw.loc[nw.duplicated(), :]

In [ ]:
nw.shape

In [ ]:
nw = nw.drop_duplicates()
nw.shape

In [ ]:
nw.columns

In [ ]:
athlete_multiple_events = nw.duplicated(subset=['Athlete Name', 'NOC', 'Gender'])
athlete_multiple_events

In [ ]:
nw.duplicated?

In [ ]:
nw.loc[athlete_multiple_events, :]

In [ ]:
nw.loc[athlete_multiple_events, :].sort_values("Athlete Name")

In [ ]:
nw.loc[nw["Athlete Name"] == "ZOU, Kai"]

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

## Validating data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw.Gender.unique()

In [ ]:
nw.loc[(nw["Event Gender"] == "M") & (nw.Gender != "Men")]

In [ ]:
nw.loc[(nw["Event Gender"] == "F") & (nw.Gender != "Women")]

In [ ]:
nw.loc[(nw.Gender == "Women") & ((nw["Event Gender"] != "W") & (nw["Event Gender"] != "X"))]

In [ ]:
nw.loc[(nw.Gender == "Men") & ((nw["Event Gender"] != "M") & (nw["Event Gender"] != "X"))]

In [ ]:
oo["Event Gender"].unique()

In [ ]:
oo.Gender.unique()

In [ ]:
oo.loc[(oo["Event Gender"] == "M") & (oo.Gender != "Men")]

In [ ]:
oo.loc[(oo["Event Gender"] == "F") & (oo.Gender != "Women")]

In [ ]:
oo.loc[(oo.Gender == "Women") & ((oo["Event Gender"] != "W") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Gender == "Men") & ((oo["Event Gender"] != "M") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
oo.loc[24676, "Gender"] = "Women"
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw.Year.unique()

In [ ]:
nw.City.unique()

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw["Event Gender"].unique().tolist()

In [ ]:
oo["Event Gender"].unique().tolist()

In [ ]:
nw["Event Gender"].unique().tolist() == oo["Event Gender"].unique().tolist()

In [ ]:
sorted(nw["Event Gender"].unique().tolist())

In [ ]:
sorted(oo["Event Gender"].unique().tolist())

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
print("Passes all tests ...")

In [ ]:
#assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
#assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
#assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
#print("Passes all tests ...")

In [ ]:
sorted(oo.Medal.unique().tolist())

In [ ]:
sorted(nw.Medal.unique().tolist())

In [ ]:
nw.Medal.str.capitalize()

In [ ]:
nw.Medal = nw.Medal.str.capitalize()
nw.sample(3)

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
print("Passes all tests ...")

In [ ]:
sorted(nw.Sport.unique().tolist())

In [ ]:
sorted(oo.Sport.unique().tolist())

In [ ]:
nw.NOC.unique()

In [ ]:
nw.Sport = nw.Sport.str.lower()
nw.Discipline = nw.Discipline.str.lower()
nw.Event = nw.Event.str.lower()
nw.NOC = nw.NOC.str.upper()
nw.sample(3)

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

nw = preprocess_2008()
nw.sample(3)

## Further Data Validation

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
medals = ['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold']
medals

In [ ]:
medals[0]

In [ ]:
medals[1]

In [ ]:
len(medals)

In [ ]:
nw["Athlete Name"]

In [ ]:
import re

search_string = "split"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
nw["Athlete Name"].str.split?

In [ ]:
nw["Athlete Name"].str.split(", ")

In [ ]:
nw["Athlete Name"].str.split(", ").tolist()

In [ ]:
athlete_names = nw["Athlete Name"].str.split(", ").tolist()
athlete_names

In [ ]:
import re

search_string = "upper"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
[athlete_name for athlete_name in athlete_names]

In [ ]:
[athlete_name[0] for athlete_name in athlete_names]

In [ ]:
[athlete_name[0].isupper() for athlete_name in athlete_names]

In [ ]:
len([item[0].isupper() for item in athlete_names])

In [ ]:
nw.info()

##Updating the dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

oo = preprocess()
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
oo.dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Combine the datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
pd.concat([oo, nw])

In [ ]:
pd.concat([oo, nw]).dtypes

In [ ]:
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
up.dtypes

##Plotting data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df


def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
import matplotlib.pyplot as plt

**For the first Olympics, how many events were there for each of the different sports? Plot them using different graphs.**

In [ ]:
first_games = up[up.Year == 1896]
first_games

In [ ]:
first_games.Sport.value_counts()

In [ ]:
first_games.Sport.value_counts().plot?

In [ ]:
type(first_games.Sport.value_counts())

In [ ]:
dir(pd.Series)

In [ ]:
pd.Series.plot?

In [ ]:
first_games.Sport.value_counts().plot(kind='line')

In [ ]:
first_games.Sport.value_counts().plot(figsize=(10,3))

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 #.plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='bar')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot
 .bar()
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color='red')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color=['blue', 'red'])
)

##Working with colormaps and Seaborn

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
games_2008 = up[up.Year == 2008]
games_2008.sample(3)

In [ ]:
(games_2008
 .Medal
 .value_counts())

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              )

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"])

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='seismic')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='coolwarm')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr_r')

##Working with groupby

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ((up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC', 'Gender', 'Event'])
sp

In [ ]:
up.groupby("Year")

In [ ]:
type(up.groupby('Year'))

In [ ]:
up.groupby("Year").count()

In [ ]:
for group_key, group_value in up.groupby('Year'):
    print(group_key)
    print(group_value)

In [ ]:
type(group_value)

In [ ]:
up.groupby(['Year']).count()

In [ ]:
up.groupby("Year").size()

In [ ]:
up.groupby(['Year','NOC']).count()

In [ ]:
up.groupby(['Year','NOC'])['Medal'].count()

In [ ]:
up.groupby(['Year','NOC']).size()

In [ ]:
up.groupby(['Year','NOC','Medal']).size()

In [ ]:
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].max()

In [ ]:
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].agg(['min', 'max', 'count'])

##Reshaping data: Stacking, Unstacking and MultiIndex

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ( (up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack?

In [ ]:
sp.unstack('Gender', fill_value=0)

In [ ]:
(sp
 .unstack('Gender', fill_value=0)
 .unstack('Event', fill_value=0)
)

In [ ]:
sp.unstack?

In [ ]:
sp.unstack(['Gender', 'Event'], fill_value=0)

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack(level=1, fill_value=0)

In [ ]:
sprints_table = sp.unstack(level=1, fill_value=0).unstack(level=1, fill_value=0)
sprints_table

In [ ]:
sprints_NOC = sprints_table.stack("Gender")
sprints_NOC

In [ ]:
sprints_NOC.index

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), :]

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), '100m']

In [ ]:
sprints_NOC.iloc[0, :]

In [ ]:
sprints_NOC.iloc[0, 0]

In [ ]:
sprints_NOC.stack?

In [ ]:
sprints_NOC.unstack?

## Challenge

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue and pink**

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

##Solution

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue (male) and pink (female)**

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
usa_gold = up[(up.NOC == 'USA') & (up.Medal == 'Gold')]
usa_gold

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().index

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot?

In [ ]:
pd.Series.plot?

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['blue', 'pink'])

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['pink', 'blue'])

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

In [ ]:
up.groupby(['Athlete Name','Medal']).size()

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

##Creating your own colormaps

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

In [ ]:
from matplotlib.colors import ListedColormap

In [ ]:
ListedColormap?

In [ ]:
gold_silver_bronze = ['#dbb40c','#c5c9c7','#a87900']

In [ ]:
colormap = ListedColormap(gold_silver_bronze)
colormap

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar', colormap=colormap)
)

##Final Challenge

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

##Solution

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
usa_olympian = up[up.NOC == 'USA']
usa_olympian

In [ ]:
usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport']).size()

In [ ]:
(usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport'])
.size()
.unstack('Medal', fill_value=0)
)

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
)
table

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
)
table

In [ ]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
.reset_index()
)
table

In [ ]:
for year, group in table.groupby('Year'):
  print(group)

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values('Total', ascending=False))

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False))

In [ ]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1))

In [ ]:
winners = [
    group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1)
    for year, group in table.groupby('Year')
]
winners

In [ ]:
winners[0]

In [ ]:
type(winners[0])

In [ ]:
pd.concat(winners)

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]]

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index()

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index?

In [ ]:
pd.DataFrame.reset_index?

In [ ]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index(drop=True)

In [ ]:
#SDG